
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
/* .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */
/* .hamburger{
  color: white; 
  font-size: 35px;
  margin-top: 10px;
  margin-left: 10px;
}
.chatbox{
  color: white;
  font-size: 30px;
  margin-top: 13px;
  margin-right: 10px;
  
} */

/* Content */
#content{
  --background: black
    
}
.content2{
  --background: #e4e7e6;
}

.title{
  --background: black;
  --color: white;
  text-align: center;
  margin-bottom: 0px;
  
}
.grid{
  margin-top: 10px;
  
}
.second{
  margin-top: -5px;
  margin-bottom: -5px;
}
.bar {
  --background: white;
  --border-radius: 0;
  padding: 10px;
  padding-bottom: 0px;
}
.date{
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 7px;
  
}
.time{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 7px;
}
.icon{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

  


.service {
padding: 10px;
  padding-top: 0.2px;
  --background: white;
  --color: black;
  --background-hover: black;
  
}

.flexContainer{
  display: flex;
  
}



.name{
  --color: black;
}

.result{
  
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
}
.avtr{
  
  margin-right: 10px;
  width: 50px !important;
  height: 50px !important;
}
.wrap{
  
  display: flex;
  width: 100px;
  justify-content: center;
}
.viewBtn{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 10px;
}
/* fontsize {
  font-size: 20px;
} */





